.btn{
    padding: 10px 20px;
    font-size: 1rem;
    font-weight: 600;
    border: none;
    border-radius: 8px;
    cursor: pointer;
    transition: all 0.2s ease;
    margin: 5px;
}
.btn:active{
    transform: scale(0.95);
}
.btn-primary{
    background-color: #007bff;
    color: white;
}
.btn-primary:hover{
    background-color: #dc3545;
}
.btn-danger {
    background-color: #dc3545;
    color: white;
}

.btn-danger:hover {
    background-color: #a71d2a;
}

.btn-success {
    background-color: #28a745;
    color: white;
}

.btn-success:hover {
    background-color: #1e7e34;
}